.header {
    /* background-color: var(--primary); */
    background-color: rgba(0,0,0,.16);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__right {
    display: flex;
}
.nav__item {
      
}
.nav__menu {
    display: flex;
}

.nav .nav__link {
    padding: 1.5rem 2rem;
    display: block;
}
.nav .nav__link.active {
    box-shadow: 0 -4px 0 var(--primary) inset;
}